
.header {
    position: relative;
    height: 100vh;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Capa difuminada */
    z-index: 1;
}


h2{
    color: #040D12;
}
h3{
    color: #040D12;
}
main {
    margin-top: -100px; /* Ajusta el valor según sea necesario */
}

.boton{
    background-color: #E8DF64;
    border: solid #E8DF64 ;
    color: #040D12;
}
.boton:hover{
    background-color: #fff563;
    border: solid #E8DF64 ;
    color: #040D12;
}

.bordes{
    border: solid #4CD8E1;
    background-color: #232424;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}



.header .container {
    position: relative;
    z-index: 2;
}

.navbar {
    z-index: 3;
}


.offcanvas {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.offcanvas-body {
    padding: 2rem;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}
footer{
    background-color: #040D12;
}
